{% block extra_head %}
<link rel="icon" href="https://i.pinimg.com/originals/74/ab/48/74ab48240e34df5e05a398e997a42b0e.png">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
{% endblock %}

{% block body %}
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true"> Sign Up</label>
                <input type="text" name="txt" placeholder="Nombre de Usuario" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="psw" placeholder="Contraseña" required>
                <button>Sign up</button>
            </form>

        </div>
        
        <div class="login">
            <form>
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="psw" placeholder="Contraseña" required="">
                <button>Login</button>
            </form>
            <form method="POST" action="/login">
                {{ form.hidden_tag() }}
                {{ form.email.label }} {{ form.email() }}
                {{ form.password.label }} {{ form.password() }}
                {{ form.submit() }}
            </form>
        </div>
    </div>
</body>
{% endblock %}